Pair programming Python + SQL


1. Importar las librerías necesarias para crear la conexión y trabajar con Pandas.

In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\superviseur\anaconda3\lib\site-packages (8.4.0)Note: you may need to restart the kernel to use updated packages.

In [2]:
# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode


# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np


2. Crear la conexión a la base de datos Northwind que devuelva un mensaje de error si algo no ocurre cómo debería.

In [5]:
# ahora creamos la conexión con los argumentos:

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='northwind')

print(cnx)
cnx.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000179B0DCADD0>

3. Usando "information_schema", extraer los nombres de las columnas de la tabla "customers" de la BBDD "northwind".

In [4]:
# primero tenemos que importar la libría

import pandas as pd

In [8]:
# hacemos la conexión con el servidor
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='northwind')

# iniciamos el cursor
mycursor = cnx.cursor()

# ejecutamos nuestra query
mycursor.execute("SELECT * FROM customers")

# le decimos que nos devuelva todos los resultados y los almacenamos en una variable llamada myresult
myresult = mycursor.fetchall()

#Creamos un dataframe con los resultados de la consulta SQL almacenados en myresult. Si os fijais le estamos pasando un parámetro llamado "columns" donde estamos especificando cuáles son las columnas de lo que será nuestro dataframe
df = pd.DataFrame(myresult, columns = ['customer_id', 'company_name', 'contact_name','contact_title','address','city','region','postal_code', 'country', 'phone', 'fax'])

#Cerramos la conexion
#cnx.close()

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91 entries, 0 to 90
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    91 non-null     object
 1   company_name   91 non-null     object
 2   contact_name   91 non-null     object
 3   contact_title  91 non-null     object
 4   address        91 non-null     object
 5   city           91 non-null     object
 6   region         91 non-null     object
 7   postal_code    91 non-null     object
 8   country        91 non-null     object
 9   phone          91 non-null     object
 10  fax            91 non-null     object
dtypes: object(11)
memory usage: 7.9+ KB


4. Seleccionar todo de la tabla "customers" donde "country" sea "USA" o "Germany". Almacenar los resultados en una variable.

In [11]:
# hacemos la conexión con el servidor
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='northwind')

# iniciamos el cursor
mycursor = cnx.cursor()

# ejecutamos nuestra query
mycursor.execute("SELECT * FROM customers WHERE country = 'USA' OR country = 'Germany'")

# le decimos que nos devuelva todos los resultados y los almacenamos en una variable llamada myresult
myresult = mycursor.fetchall()

#Creamos un dataframe con los resultados de la consulta SQL almacenados en myresult. Si os fijais le estamos pasando un parámetro llamado "columns" donde estamos especificando cuáles son las columnas de lo que será nuestro dataframe
df = pd.DataFrame(myresult, columns = ['customer_id', 'company_name', 'contact_name','contact_title','address','city','region','postal_code', 'country', 'phone', 'fax'])

#Cerramos la conexion
#cnx.close()

In [12]:
print(df)

   customer_id                       company_name         contact_name  \
0        ALFKI                Alfreds Futterkiste         Maria Anders
1        BLAUS            Blauer See Delikatessen           Hanna Moos
2        DRACD           Drachenblut Delikatessen         Sven Ottlieb
3        FRANK                     Frankenversand        Peter Franken
4        GREAL            Great Lakes Food Market        Howard Snyder
5        HUNGC         Hungry Coyote Import Store        Yoshi Latimer
6        KOENE                    K?niglich Essen        Philip Cramer
7        LAZYK               Lazy K Kountry Store           John Steel
8        LEHMS                Lehmanns Marktstand       Renate Messner
9        LETSS                  Let's Stop N Shop         Jaime Yorres
10       LONEP           Lonesome Pine Restaurant          Fran Wilson
11       MORGK             Morgenstern Gesundkost      Alexander Feuer
12       OLDWO             Old World Delicatessen        Rene Phillips
13       OTTIK                 Ottilies K?seladen  Henriette Pfalzheim
14       QUICK                         QUICK-Stop          Horst Kloss
15       RATTC         Rattlesnake Canyon Grocery         Paula Wilson
16       SAVEA                 Save-a-lot Markets       Jose Pavarotti
17       SPLIR              Split Rail Beer & Ale   Art Braunschweiger
18       THEBI                     The Big Cheese            Liz Nixon
19       THECR                    The Cracker Box             Liu Wong
20       TOMSP                 Toms Spezialit?ten        Karin Josephs
21       TRAIH  Trail's Head Gourmet Provisioners       Helvetius Nagy
22       WANDK                  Die Wandernde Kuh          Rita M?ller
23       WHITC               White Clover Markets       Karl Jablonski

                     contact_title                         address  \
0             Sales Representative                   Obere Str. 57
1             Sales Representative                  Forsterstr. 57
2              Order Administrator                    Walserweg 21
3                Marketing Manager               Berliner Platz 43
4                Marketing Manager                2732 Baker Blvd.
5             Sales Representative  City Center Plaza 516 Main St.
6                  Sales Associate                   Maubelstr. 90
7                Marketing Manager            12 Orchestra Terrace
8             Sales Representative                    Magazinweg 7
9                            Owner             87 Polk St. Suite 5
10                   Sales Manager              89 Chiaroscuro Rd.
11             Marketing Assistant                     Heerstr. 22
12            Sales Representative                 2743 Bering St.
13                           Owner              Mehrheimerstr. 369
14              Accounting Manager                Taucherstra?e 10
15  Assistant Sales Representative                 2817 Milton Dr.
16            Sales Representative                 187 Suffolk Ln.
17                   Sales Manager                    P.O. Box 555
18               Marketing Manager        89 Jefferson Way Suite 2
19             Marketing Assistant             55 Grizzly Peak Rd.
20               Marketing Manager                   Luisenstr. 48
21                 Sales Associate               722 DaVinci Blvd.
22            Sales Representative               Adenauerallee 900
23                           Owner     305 - 14th Ave. S. Suite 3B

              city region postal_code  country           phone             fax
0           Berlin              12209  Germany     030-0074321     030-0076545
1         Mannheim              68306  Germany      0621-08460      0621-08924
2           Aachen              52066  Germany     0241-039123     0241-059428
3          M?nchen              80805  Germany     089-0877310     089-0877451
4           Eugene     OR       97403      USA  (503) 555-7555
5            Elgin     OR       97827      USA  (503) 555-6874  (503) 555-2376
6      Brandenburg              14776  Germany      0555-09876
7      Walla Walla     WA       99362      USA  (509) 555-7969  (509) 555-6221
8   Frankfurt a.M.              60528  Germany     069-0245984     069-0245874
9    San Francisco     CA       94117      USA  (415) 555-5938
10        Portland     OR       97219      USA  (503) 555-9573  (503) 555-9646
11         Leipzig              04179  Germany     0342-023176
12       Anchorage     AK       99508      USA  (907) 555-7584  (907) 555-2880
13            K?ln              50739  Germany    0221-0644327    0221-0765721
14       Cunewalde              01307  Germany     0372-035188
15     Albuquerque     NM       87110      USA  (505) 555-5939  (505) 555-3620
16           Boise     ID       83720      USA  (208) 555-8097
17          Lander     WY       82520      USA  (307) 555-4680  (307) 555-6525
18        Portland     OR       97201      USA  (503) 555-3612
19           Butte     MT       59801      USA  (406) 555-5834  (406) 555-8083
20         M?nster              44087  Germany     0251-031259     0251-035695
21        Kirkland     WA       98034      USA  (206) 555-8257  (206) 555-2174
22       Stuttgart              70563  Germany     0711-020361     0711-035428
23         Seattle     WA       98128      USA  (206) 555-4112  (206) 555-4115


5. Convertir los resultados del ejercicio anterior en un Dataframe (no od olvidéis de poner el nombre a las columnas en el orden correcto).

In [13]:
#Creamos un dataframe con los resultados de la consulta SQL almacenados en myresult. Si os fijais le estamos pasando un parámetro llamado "columns" donde estamos especificando cuáles son las columnas de lo que será nuestro dataframe
df = pd.DataFrame(myresult, columns = ['customer_id', 'company_name', 'contact_name','contact_title','address','city','region','postal_code', 'country', 'phone', 'fax'])
print(df)

   customer_id                       company_name         contact_name  \
0        ALFKI                Alfreds Futterkiste         Maria Anders
1        BLAUS            Blauer See Delikatessen           Hanna Moos
2        DRACD           Drachenblut Delikatessen         Sven Ottlieb
3        FRANK                     Frankenversand        Peter Franken
4        GREAL            Great Lakes Food Market        Howard Snyder
5        HUNGC         Hungry Coyote Import Store        Yoshi Latimer
6        KOENE                    K?niglich Essen        Philip Cramer
7        LAZYK               Lazy K Kountry Store           John Steel
8        LEHMS                Lehmanns Marktstand       Renate Messner
9        LETSS                  Let's Stop N Shop         Jaime Yorres
10       LONEP           Lonesome Pine Restaurant          Fran Wilson
11       MORGK             Morgenstern Gesundkost      Alexander Feuer
12       OLDWO             Old World Delicatessen        Rene Phillips
13       OTTIK                 Ottilies K?seladen  Henriette Pfalzheim
14       QUICK                         QUICK-Stop          Horst Kloss
15       RATTC         Rattlesnake Canyon Grocery         Paula Wilson
16       SAVEA                 Save-a-lot Markets       Jose Pavarotti
17       SPLIR              Split Rail Beer & Ale   Art Braunschweiger
18       THEBI                     The Big Cheese            Liz Nixon
19       THECR                    The Cracker Box             Liu Wong
20       TOMSP                 Toms Spezialit?ten        Karin Josephs
21       TRAIH  Trail's Head Gourmet Provisioners       Helvetius Nagy
22       WANDK                  Die Wandernde Kuh          Rita M?ller
23       WHITC               White Clover Markets       Karl Jablonski

                     contact_title                         address  \
0             Sales Representative                   Obere Str. 57
1             Sales Representative                  Forsterstr. 57
2              Order Administrator                    Walserweg 21
3                Marketing Manager               Berliner Platz 43
4                Marketing Manager                2732 Baker Blvd.
5             Sales Representative  City Center Plaza 516 Main St.
6                  Sales Associate                   Maubelstr. 90
7                Marketing Manager            12 Orchestra Terrace
8             Sales Representative                    Magazinweg 7
9                            Owner             87 Polk St. Suite 5
10                   Sales Manager              89 Chiaroscuro Rd.
11             Marketing Assistant                     Heerstr. 22
12            Sales Representative                 2743 Bering St.
13                           Owner              Mehrheimerstr. 369
14              Accounting Manager                Taucherstra?e 10
15  Assistant Sales Representative                 2817 Milton Dr.
16            Sales Representative                 187 Suffolk Ln.
17                   Sales Manager                    P.O. Box 555
18               Marketing Manager        89 Jefferson Way Suite 2
19             Marketing Assistant             55 Grizzly Peak Rd.
20               Marketing Manager                   Luisenstr. 48
21                 Sales Associate               722 DaVinci Blvd.
22            Sales Representative               Adenauerallee 900
23                           Owner     305 - 14th Ave. S. Suite 3B

              city region postal_code  country           phone             fax
0           Berlin              12209  Germany     030-0074321     030-0076545
1         Mannheim              68306  Germany      0621-08460      0621-08924
2           Aachen              52066  Germany     0241-039123     0241-059428
3          M?nchen              80805  Germany     089-0877310     089-0877451
4           Eugene     OR       97403      USA  (503) 555-7555
5            Elgin     OR       97827      USA  (503) 555-6874  (503) 555-2376
6      Brandenburg              14776  Germany      0555-09876
7      Walla Walla     WA       99362      USA  (509) 555-7969  (509) 555-6221
8   Frankfurt a.M.              60528  Germany     069-0245984     069-0245874
9    San Francisco     CA       94117      USA  (415) 555-5938
10        Portland     OR       97219      USA  (503) 555-9573  (503) 555-9646
11         Leipzig              04179  Germany     0342-023176
12       Anchorage     AK       99508      USA  (907) 555-7584  (907) 555-2880
13            K?ln              50739  Germany    0221-0644327    0221-0765721
14       Cunewalde              01307  Germany     0372-035188
15     Albuquerque     NM       87110      USA  (505) 555-5939  (505) 555-3620
16           Boise     ID       83720      USA  (208) 555-8097
17          Lander     WY       82520      USA  (307) 555-4680  (307) 555-6525
18        Portland     OR       97201      USA  (503) 555-3612
19           Butte     MT       59801      USA  (406) 555-5834  (406) 555-8083
20         M?nster              44087  Germany     0251-031259     0251-035695
21        Kirkland     WA       98034      USA  (206) 555-8257  (206) 555-2174
22       Stuttgart              70563  Germany     0711-020361     0711-035428
23         Seattle     WA       98128      USA  (206) 555-4112  (206) 555-4115

6. Muestrar las 10 primeras filas del Dataframe y las 10 últimas.

In [14]:
df.head(10)

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,,12209,Germany,030-0074321,030-0076545
1,BLAUS,Blauer See Delikatessen,Hanna Moos,Sales Representative,Forsterstr. 57,Mannheim,,68306,Germany,0621-08460,0621-08924
2,DRACD,Drachenblut Delikatessen,Sven Ottlieb,Order Administrator,Walserweg 21,Aachen,,52066,Germany,0241-039123,0241-059428
3,FRANK,Frankenversand,Peter Franken,Marketing Manager,Berliner Platz 43,M?nchen,,80805,Germany,089-0877310,089-0877451
4,GREAL,Great Lakes Food Market,Howard Snyder,Marketing Manager,2732 Baker Blvd.,Eugene,OR,97403,USA,(503) 555-7555,
5,HUNGC,Hungry Coyote Import Store,Yoshi Latimer,Sales Representative,City Center Plaza 516 Main St.,Elgin,OR,97827,USA,(503) 555-6874,(503) 555-2376
6,KOENE,K?niglich Essen,Philip Cramer,Sales Associate,Maubelstr. 90,Brandenburg,,14776,Germany,0555-09876,
7,LAZYK,Lazy K Kountry Store,John Steel,Marketing Manager,12 Orchestra Terrace,Walla Walla,WA,99362,USA,(509) 555-7969,(509) 555-6221
8,LEHMS,Lehmanns Marktstand,Renate Messner,Sales Representative,Magazinweg 7,Frankfurt a.M.,,60528,Germany,069-0245984,069-0245874
9,LETSS,Let's Stop N Shop,Jaime Yorres,Owner,87 Polk St. Suite 5,San Francisco,CA,94117,USA,(415) 555-5938,

In [15]:
df.tail(10)

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
14,QUICK,QUICK-Stop,Horst Kloss,Accounting Manager,Taucherstra?e 10,Cunewalde,,01307,Germany,0372-035188,
15,RATTC,Rattlesnake Canyon Grocery,Paula Wilson,Assistant Sales Representative,2817 Milton Dr.,Albuquerque,NM,87110,USA,(505) 555-5939,(505) 555-3620
16,SAVEA,Save-a-lot Markets,Jose Pavarotti,Sales Representative,187 Suffolk Ln.,Boise,ID,83720,USA,(208) 555-8097,
17,SPLIR,Split Rail Beer & Ale,Art Braunschweiger,Sales Manager,P.O. Box 555,Lander,WY,82520,USA,(307) 555-4680,(307) 555-6525
18,THEBI,The Big Cheese,Liz Nixon,Marketing Manager,89 Jefferson Way Suite 2,Portland,OR,97201,USA,(503) 555-3612,
19,THECR,The Cracker Box,Liu Wong,Marketing Assistant,55 Grizzly Peak Rd.,Butte,MT,59801,USA,(406) 555-5834,(406) 555-8083
20,TOMSP,Toms Spezialit?ten,Karin Josephs,Marketing Manager,Luisenstr. 48,M?nster,,44087,Germany,0251-031259,0251-035695
21,TRAIH,Trail's Head Gourmet Provisioners,Helvetius Nagy,Sales Associate,722 DaVinci Blvd.,Kirkland,WA,98034,USA,(206) 555-8257,(206) 555-2174
22,WANDK,Die Wandernde Kuh,Rita M?ller,Sales Representative,Adenauerallee 900,Stuttgart,,70563,Germany,0711-020361,0711-035428
23,WHITC,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S. Suite 3B,Seattle,WA,98128,USA,(206) 555-4112,(206) 555-4115

7.  Mostrar 5 filas aleatorias del Dataframe.

In [19]:
df.sample(5)

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
14,QUICK,QUICK-Stop,Horst Kloss,Accounting Manager,Taucherstra?e 10,Cunewalde,,01307,Germany,0372-035188,
7,LAZYK,Lazy K Kountry Store,John Steel,Marketing Manager,12 Orchestra Terrace,Walla Walla,WA,99362,USA,(509) 555-7969,(509) 555-6221
4,GREAL,Great Lakes Food Market,Howard Snyder,Marketing Manager,2732 Baker Blvd.,Eugene,OR,97403,USA,(503) 555-7555,
17,SPLIR,Split Rail Beer & Ale,Art Braunschweiger,Sales Manager,P.O. Box 555,Lander,WY,82520,USA,(307) 555-4680,(307) 555-6525
19,THECR,The Cracker Box,Liu Wong,Marketing Assistant,55 Grizzly Peak Rd.,Butte,MT,59801,USA,(406) 555-5834,(406) 555-8083

8. ¿Hay nulos en el Dataframe? El resultado debe verse para cada una de las columnas.

In [20]:
df.isnull()

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,False

In [21]:
df.isnull().sum()

customer_id      0
company_name     0
contact_name     0
contact_title    0
address          0
city             0
region           0
postal_code      0
country          0
phone            0
fax              0
dtype: int64

9. Mostrar los principales estadísticos.

In [22]:
df.describe()

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
count,24,24,24,24,24,24,24,24,24,24,24
unique,24,24,24,9,24,23,9,24,2,24,18
top,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Portland,,12209,USA,030-0074321,
freq,1,1,1,7,1,2,11,1,13,1,7

10. Mostrar el nombre de las columnas del Dataframe.

In [23]:
df.columns

Index(['customer_id', 'company_name', 'contact_name', 'contact_title',
       'address', 'city', 'region', 'postal_code', 'country', 'phone', 'fax'],
      dtype='object')